
src/build/*

src/depend/*

*.swp

*.nc

*.txt

*.o

*.d

*.a

*.tar.gz

bin/*

test

test/*.nc

test/*.nc4

test/*.dat

test/*.txt

test/*.g

test/cfsr_tests

test/*.eps

test/*.png

test/statfigs/*

.vscode/

TempestExtremes v2.1.pdf

mk/

mk/system/
